* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 100%;
        background: url('https://www.gvpce.ac.in/roughsets/images/demo/featured-slide/Capture.JPG') no-repeat center center fixed;
        background-size: cover; 
        background-color: #F1F1F1; /* Fallback color */
}
 .admin{
    position: absolute;
    top: 2%;
    left: 93%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f9f9f9;
    background-color: #ff0000;
}

h1{
    position: absolute;
    top:0.5%;
    left: 10%;   
    color: #ffffff;
    font-size: 250%;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
h2{
    position: absolute;
    top:70%;
    left: 5%;   
    color: #ffffff;
    font-size: 150%;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.navbar{
    padding: 25px 20px;
    background-color: #55208e;
}
.bottombar{
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 25px 20px;
    background-color: #55208e;
}

.slide{
    width: 65%;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 40%;
    background-image: url(https://www.gvpce.ac.in/slideshow/home/Homepageslideshowphotos/2.College&Departments/18.jpg);
    background-size: 100% 100%;
    transform: translate(-70%,-45%);
    border-image: fill 0 linear;
    box-shadow: 1px 2px 10px 5px rgb(0, 0, 0);
    animation:slider 9s infinite linear;
    font-size: 50px;
}
@keyframes slider{
    0%{background-image: url(https://www.gvpce.ac.in/slideshow/home/Homepageslideshowphotos/2.College&Departments/18.jpg);   }
    35%{background-image: url(https://media.licdn.com/dms/image/C561BAQG1--YXtBR07A/company-background_10000/0/1585466603376/gvpcoe_cover?e=2147483647&v=beta&t=JXwPClILkC1Wb5mcFghpUl1_iGHMDmv_xhRaH-p8-R8); }
    75%{ background-image: url(https://www.gvpce.ac.in/slideshow/home/Homepageslideshowphotos/2.College&Departments/18.jpg);}
    
}
*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 60px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-right: auto;
}



.messages__item--visitor {
    margin-left: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
    text-align: right;
}
.messages__item--visitor{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
    text-align: left;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
